<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demomybatic.mapper.RoleMapper" >
    <resultMap id="Role" type="com.example.demomybatic.entity.Roles">
        <result column="role_id" property="roleId"></result>
        <result column="role_name" property="roleName"></result>
        <result column="description" property="description"></result>
    </resultMap>
    <select id="getRoles" resultMap="Role">
        select role_id,
               role_name,
               description
        from roles
    </select>
    <insert id="saveRoles" parameterType="com.example.demomybatic.entity.Roles">
        insert into Roles(role_name,description)
        values (#{roleName},#{description});
    </insert>
    <update id="updateRoles" parameterType="com.example.demomybatic.entity.Roles">
        update roles
        set role_name = #{roleName},
            description = #{description}
        where role_id = #{roleId}
    </update>
    <delete id="deleteRoles" parameterType="int">
        delete from Roles
               where role_id = #{roleId}
    </delete>
</mapper>